#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Java Developers - 2022-09
StartupWMClass=Eclipse
Exec=/home/jules/eclipse/java-2022-092/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/jules/eclipse/java-2022-092/eclipse/icon.xpm
